@model eticaretgiyim.Models.Urunler

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Urunler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UrunID" />
            <div class="form-group">
                <label asp-for="UrunAd" class="control-label"></label>
                <input asp-for="UrunAd" class="form-control" />
                <span asp-validation-for="UrunAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiyat" class="control-label"></label>
                <input asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StokAdet" class="control-label"></label>
                <input asp-for="StokAdet" class="form-control" />
                <span asp-validation-for="StokAdet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategoriID" class="control-label"></label>
                <select asp-for="KategoriID" class="form-control" asp-items="ViewBag.Kategoriler">
                    <option value="">Seçim Yapınız</option>
                </select>
                <span asp-validation-for="KategoriID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renk" class="control-label"></label>
                <input asp-for="Renk" class="form-control" />
                <span asp-validation-for="Renk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beden" class="control-label"></label>
                <input asp-for="Beden" class="form-control" />
                <span asp-validation-for="Beden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GorselUrl" class="control-label"></label>
                <input asp-for="GorselUrl" class="form-control" />
                <span asp-validation-for="GorselUrl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Aktif" /> @Html.DisplayNameFor(model => model.Aktif)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

