
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>E-Posta</th>
            <th>Şifre</th>
            <th>Telefon</th>
            <th>Kayıt Tarihi</th>
            <th>Rol</th>
            <th>Düzeltme</th>
            <th>Silme</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Adı</td>
            <td>Soyadı</td>
            <td>E-Posta</td>
            <td>Şifre</td>
            <td>Telefon</td>
            <td>Kayıt Tarihi</td>
            <td>Rol</td>
            <td>Düzeltme</td>
            <td>Silme</td>
        </tr>
    </tbody>
</table>
